@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.home_layout {
  background-image: url('./images/logo/naqis2.svg');
  background-size: 50px 410px;
  background-attachment: fixed;
}

.character {
  border: none;
  font-size: 20px;
  border-radius: 8px;
  color: #272729;
  background-color: #f6f5fa;
  box-shadow: 0 2px 0 #e4e2f5;
}

.container {
  min-width: 100%;
  justify-content: space-between;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySwiper,
.mySwiper2 {
  user-select: none;
}

.mySwiper {
  height: 100px;
}

.mySwiper2 {
  margin-bottom: 20px;
}

.mySwiper2 img {
  width: auto;
  max-width: 100%;
  max-height: 50vh;
}

.mySwiper .swiper-slide {
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-button-prev,
.swiper-button-next {
  color: #fff;
  font-weight: bold;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 18px;
  background-color: #333;
  padding: 10px;
}

/* #heading-home {
  background-color: white;
} */
